@import "tailwindcss";

@theme {
  --color-ink-violet: #0B0813;
  --color-prismatic-purple: #9D4EDD;
  --color-electric-ultraviolet: #7B2CBF;
  --color-stage-crimson: #E0115F;
}

:root {
  --background: #0B0813;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow: hidden; /* For full screen 3D canvas */
}
